body{
      margin-top: 0px;
      margin:0;
      padding:0;
      background-color: white;
      color: black;
      }
.main{  
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.title{
    background-color: #012345;
    color:white;
    padding: 20px;
    width:100%
}
.warning{
    text-align: left;
    border: 5px solid white;
    padding: 40px;
    color: crimson;
    margin:20px;
    width:90%

}
.counter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#clock{
    font-size: 40pt;
    width: 100px
}
#npmLog{
    position:absolute;
    text-align: left;
    width:90%;
    background-color: black;
    color:white;
    font-family: 'Lucida Console' 'Courier New';
    font-size: 12pt;
    padding: 5px;
    margin: 20 0
    
}
.message{
    padding: 20px;
    font-size: large;
    text-align: center
}