body{
      background-color: white;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main{
    text-align: center;    
    width: 60%
}
.warning{
    text-align: left;
    border: 5px solid white;
    padding: 10px;
    color: crimson;
    width:90%

}
.counter{
    padding: 20px;
    text-align: center;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#clock{
    font-size: 40pt
}
.message{
    float:right;
    padding: 20px;
    font-size: large;
    text-align: center
}